ApiAiSDK/bin
*.meta
ApiAiSDK.Tests/bin
ApiAiSDK.Tests/test-results
test-results
*.nupkg
*.userprefs
ApiAiSDK.Tests/obj
ApiAiSDK/obj
testrunner
packages
ApiAiSDK.WP8/bin
ApiAiSDK.WP8/obj
*.suo
api-ai-net.sln.DotSettings.user
