ApiAiSDK/bin
*.meta
ApiAiSDK.Tests/bin
ApiAiSDK.Tests/test-results
test-results
*.nupkg
*.userprefs
ApiAiSDK.Tests/obj
ApiAiSDK/obj
testrunner
packages
ApiAiSDK.WP8/bin
ApiAiSDK.WP8/obj
ApiAiSDK.W10/bin
ApiAiSDK.W10/obj
*.suo
/ApiAiSDK.W10.Tests/obj
/ApiAiSDK.W10.Tests/bin
